optuna==2.4.0
scikit_allel==1.3.2
dataclasses==0.8
pytest==6.2.4
plotly==4.14.1
scipy==1.10.0
wandb==0.10.22
umap_learn==0.5.1
numpy==1.22.0
pandas==1.1.5
seaborn==0.11.0
matplotlib==3.3.3
PyYAML==5.4.1
scikit_learn==0.24.2
torch==1.13.1
umap==0.1.1
